### Maven ###
**/target/
.idea/

### Secrets ###
**/application.user.properties
**/application.user.yml
**/application-user.yml

### Java spills ###
*.class
*.jar
*.war
*.ear

### Specific ###
**/data/